<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

     <bean id="car" class="org.dxc.ioc.Car.Car" scope="prototype">
       <property name="colorName"  value="red"/>
        <property name="brandName"  value="Tesla"/>
         <property name="model"  value="xmmr"/>
          <property name="driver">
                        <bean class="org.dxc.ioc.Car.Driver">
                 <property name="driverName"  value="Hashley"/>
                 
     
     
     
     
     </bean>
     </property>
     </bean>
</beans>
